JWT_Nodered/Autenticacion_nodered_brokenTLS_-_copia.txt
[
    {
        "id": "f23dfa9d.e779c8",
        "type": "tab",
        "label": "Autenticación",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cf188bfd.1b4288",
        "type": "jwt sign",
        "z": "f23dfa9d.e779c8",
        "name": "",
        "alg": "HS256",
        "exp": "1000000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "hola",
        "key": "",
        "signvar": "payload",
        "storetoken": "payload",
        "x": 840,
        "y": 240,
        "wires": [
            [
                "8ee0b1ee.74b84",
                "48cf3d7.b6f2cc4"
            ]
        ]
    },
    {
        "id": "6162309a.454b",
        "type": "mqtt in",
        "z": "f23dfa9d.e779c8",
        "name": "",
        "topic": "cf/p1/auth_ask",
        "qos": "2",
        "broker": "de9ae7a8.605698",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "13c2482c.8162f8"
            ]
        ]
    },
    {
        "id": "8ee0b1ee.74b84",
        "type": "debug",
        "z": "f23dfa9d.e779c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 320,
        "wires": []
    },
    {
        "id": "9f2b2f05.dd869",
        "type": "mqtt out",
        "z": "f23dfa9d.e779c8",
        "name": "",
        "topic": "cf/p1/auth_res",
        "qos": "",
        "retain": "",
        "broker": "de9ae7a8.605698",
        "x": 1300,
        "y": 240,
        "wires": []
    },
    {
        "id": "583ea8.8c4cb158",
        "type": "comment",
        "z": "f23dfa9d.e779c8",
        "name": "ESP32 se  conecta con servidor de autenticación",
        "info": "",
        "x": 240,
        "y": 160,
        "wires": []
    },
    {
        "id": "951b5c1e.7e43",
        "type": "comment",
        "z": "f23dfa9d.e779c8",
        "name": "HMAC + JWT",
        "info": "",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "4f8f08d8.8d96c8",
        "type": "inject",
        "z": "f23dfa9d.e779c8",
        "name": "",
        "topic": "Prueba",
        "payload": "{\"user\":\"user\", \"pass\":\"pass\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 580,
        "wires": [
            [
                "8fd7b55b.c59ff8"
            ]
        ]
    },
    {
        "id": "8fd7b55b.c59ff8",
        "type": "json",
        "z": "f23dfa9d.e779c8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "df1d96e4.f388b8",
                "8f4dea16.039a38"
            ]
        ]
    },
    {
        "id": "8f4dea16.039a38",
        "type": "mqtt out",
        "z": "f23dfa9d.e779c8",
        "name": "",
        "topic": "cf/p1/auth_ask",
        "qos": "",
        "retain": "",
        "broker": "de9ae7a8.605698",
        "x": 560,
        "y": 580,
        "wires": []
    },
    {
        "id": "df1d96e4.f388b8",
        "type": "debug",
        "z": "f23dfa9d.e779c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 680,
        "wires": []
    },
    {
        "id": "13c2482c.8162f8",
        "type": "json",
        "z": "f23dfa9d.e779c8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "1d5820a6.8eeedf",
                "af23c501.e3a338"
            ]
        ]
    },
    {
        "id": "1d5820a6.8eeedf",
        "type": "debug",
        "z": "f23dfa9d.e779c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 370,
        "y": 320,
        "wires": []
    },
    {
        "id": "4dc28e27.75cba",
        "type": "debug",
        "z": "f23dfa9d.e779c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1070,
        "y": 320,
        "wires": []
    },
    {
        "id": "48cf3d7.b6f2cc4",
        "type": "function",
        "z": "f23dfa9d.e779c8",
        "name": "Conversor",
        "func": "msg.payload = {\"token\": msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "4dc28e27.75cba",
                "9f2b2f05.dd869"
            ]
        ]
    },
    {
        "id": "9311c61.63b5b38",
        "type": "comment",
        "z": "f23dfa9d.e779c8",
        "name": "Prueba de envio de datos",
        "info": "",
        "x": 170,
        "y": 520,
        "wires": []
    },
    {
        "id": "e1977db5.4a56b",
        "type": "comment",
        "z": "f23dfa9d.e779c8",
        "name": "ESP32 se autentica con pass",
        "info": "",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "af23c501.e3a338",
        "type": "function",
        "z": "f23dfa9d.e779c8",
        "name": "Comprobar contraseña",
        "func": "\nif(msg.payload.user == \"user\" && msg.payload.pass == \"pass\"){\n    \n  return msg; \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 240,
        "wires": [
            [
                "1a76b39b.cd02dc",
                "cf188bfd.1b4288"
            ]
        ]
    },
    {
        "id": "1a76b39b.cd02dc",
        "type": "debug",
        "z": "f23dfa9d.e779c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "f4fef21e.4e98d",
        "type": "comment",
        "z": "f23dfa9d.e779c8",
        "name": "Autenticación responde a petición de ESP32",
        "info": "",
        "x": 1170,
        "y": 160,
        "wires": []
    },
    {
        "id": "de9ae7a8.605698",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt.flespi.io",
        "port": "8883",
        "tls": "63741ff1.e7999",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "63741ff1.e7999",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "client.cert.pem",
        "keyname": "device.key.pem",
        "caname": "ca.cert.pem",
        "servername": "",
        "verifyservercert": false
    }
]